/********************
Base Styles - All Screens
********************/
a#skip {
  position: absolute;
  top: -100px;
}
a:link, a:visited {
  color: #036;
  text-decoration: underline;
}
a:focus, a:hover, a:active {
  color: #36C;
  text-decoration: underline;
}
body {
  font-size: 68.75%; /* 11px */
  line-height: 1.333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333;
}
h1, h2, h3 {
  font-family: Georgia, "Times New Roman", Times, Serif;
}
h1 {
  font-size: 1.75em;
  color: #343268;
}
h2 {
  font-size: 1.33em;
  margin: 0 0 0.6em 0;
  color:#36C;
}
h3, h4, h5, h6 {
  color:#666;
}
h2, h3 {
  font-size: 1.125em;
  margin: 0 0 0.4em 0;
}
h4 {
  font-size: 1em;
  margin: 0 0 0.2em 0;
}
h5, h6 {
  font-size: 1em;
}
p, dl {
  margin: 0 0 1.25em 0;
}
/* ul, ol {
  margin: 0 0 1.25em 0; 
  padding-left: 2.5em;
} */
dt {
  margin: 0 0 0.5em 0;
  font-weight:bold;
}
dd {
  margin: 0 0 0.5em 2.5em;
}
pre, code, tt {
  margin: 0 0 1em 0; 
  font-family:"Courier New", Courier, monospace;
}
code, tt {
  padding: 0 1px;
}
small {
  font-size: 85%;
}
big {
  font-size: 115%;
}
sup {
  font-size: 85%; 
  vertical-align: 0.5em; 
  line-height: 1px;
}
table {
  border-collapse: separate;
  width: 100%;
  border-color: #ccc;
  border-width: 1px 0 0 1px;
  border-style: solid;
  text-align: left;
  empty-cells: hide;
  margin-bottom: 1.25em;
}
th, td {
  border-color: #ccc;
  border-width: 0 1px 1px 0;
  border-style: solid;
  padding: 3px;
  vertical-align: middle;
}
table.autoW {
  width:auto;
}
/* ul li, ol li {
  margin-bottom: 4px;
}
li ul, li ol {
  margin: .5em 0 .5em 0;
} */
blockquote p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #666;
}
.cite {
  color:#666;
}
/********************
Forms - LC Standards
********************/
form {
	margin-bottom: 1.25em;
}
form label, form input, form select, form button, form p {
	vertical-align: middle;
}
form small {
	color: #666;
}
form label {
	font-weight: bold;
}
form label.norm {
	font-weight: normal;
}
form .label_alt {
	font-weight: bold;
}
form textarea.txtarea, form select.sel {
	border: 1px solid #999;
	margin: 2px 0;
}
form input.txt {
	padding: 2px;
	border: 1px solid #999;
	margin: 2px 0;
}
form input.radio, form input.check {
/* nothing here yet */
}
form .error span, form .error label, form .error .label_alt, form .error small {
	color:#f00;
}
form .error input.txt, form .error select.sel, form .error textarea.txtarea { 
	border-color: #ffb2b2; 
	border-color: #f00; 
	background-color: #fdf1f1;
}
/* Special Form Settings for Quick Search Box */
form#quick-search {
    padding: 2px 0px 0px 0px;
    margin: 0px;
	width: 700px;
    float: left;
}
form#quick-search input#quick-search-box, form#quick-search label {
	vertical-align: middle;
}
form#quick-search label.searchbox-title{
	font-weight: bold;
	color: #000;
}
.searchhelp {
	float: right;
	background: transparent url(http://www.loc.gov/images/arrow.gif) 0 6px no-repeat;
	padding-left: 10px;
	margin: 8px 10px 0px 8px;
	font-weight: normal;
}
/********************
Buttons - LC Standards
********************/
button { 
	border: 1px solid #666;
	color: #666;
	cursor: pointer; 
	text-align: center;
	font: normal 1em Verdana, Arial, Helvetica, sans-serif;
	padding: 2px 7px;
	margin: 0;
	overflow: visible;
	background: #d0cecf url(../images/btn_submit_bg.gif) left bottom repeat-x;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
button.primary { 
	border: 2px solid #000;
	color: #000;
	font-weight: bold;
}
button.btn-sm {
	font-size: .9em;
	padding: 1px 4px;
}
p.box-btns {
	padding: 15px;
	background: #eee url(../images/dot.gif) 0 top repeat-x;
	text-align: right;
}
.btns-left {
	float:left;
}
/********************
Lists - LC Standards
********************/
ul.plain {
list-style: none;
padding-left: 0px;
}
ul.plain li {
padding: 0;
}
ul.std {
list-style: none;
padding-left: 0px;
}
ul.std li {
padding: 0 0 0 14px;
background: transparent url(../img-std/i_arrow.gif) 3px 5px no-repeat;
}
ul.bullet {
list-style: none;
padding-left: 0px;
}
ul.bullet li {
padding: 0 0 0 14px;
background: transparent url(../img-std/bullet.gif) 3px 6px no-repeat;
}
ul.arrow_o {
list-style: none;
padding-left: 0px;
}
ul.arrow_o li {
padding: 0 0 0 14px;
background: transparent url(../img-std/i_arrow_o.gif) 0px 4px no-repeat;
}
ul.arrow_o_gr {
list-style: none;
padding-left: 0px;
}
ul.arrow_o_gr li {
padding: 0 0 0 14px;
background: transparent url(../img-std/i_arrow_grey.gif) 0px 4px no-repeat;
}
/********************
Facets - New Styles
********************/
#ds-facetvalues .your-search {
}
#ds-facetvalues .facet {
}
#ds-facetvalues .facet img.facet-arrow {
	padding: 0px 3px 0px 3px;
	width: 4px;
	height: 7px;
}
/* CSS buttons for facet on and off */
.cssnav {
	background: url(../images/facet-over.gif) no-repeat;
	width: 12px;
	height: 11px;
	margin: 0px;
	padding: 0px;
	border: 0px
}
.cssnav a {
	text-decoration: none;
}
.cssnav img {
	width: 12px;
	height: 11px;
	border: 0;
	vertical-align: text-bottom;
}
* html a:hover {
	visibility: visible;
	cursor: pointer;
}
.cssnav a:hover img {
	visibility: hidden
}
/********************
Search Results - New Styles
********************/
#ds-body #ds-results #ds-mainright #ds-hitlist ul {
	margin: 0px 20px 10px 5px;
	padding: 0px 5px 5px 0px;
	list-style: none;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li {
	padding: 10px 0px 10px 0px;
	border-bottom: solid 1px #dddddd;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li .hit {
	font-weight: bold;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li .author {
	margin-left: 22px;
	margin-top: 5px;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li .publisher{
	margin-left: 22px;
	margin-top: 5px;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li .format {
	margin-left: 22px;
	margin-top: 5px;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li .format span {
	font-weight: bold;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li .location {
	margin-left: 22px;
	margin-top: 5px;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li .location span {
	font-weight: bold;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li .findaid-ext {
	margin-left: 22px;
	margin-top: 5px;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li div.findaid-summary {
	margin-left: 22px;
	margin-top: 5px;
	padding: 5px;
	background-color: #eeeeee;
}
#ds-body #ds-results #ds-mainright #ds-hitlist ul li div.findaid-summary span {
	font-weight: bold;
}
.ds-paging {
	font: normal 1em Verdana, Arial, Helvetica, sans-serif;
}
form.resort, form.numhits {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
form.resort select, form.numhits select {
	border: 1px solid #999;
	margin: 2px 0px 2px 0px;
	padding: 1px 0px 1px 0px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}
/* PAGING */
ul#pagination-clean {
	border: 0; 
	margin: 0; 
	padding: 0;
}
ul#pagination-clean li {
	border: 0; 
	margin: 0;
	padding: 0;
	display: inline; 
	font-size: 1em;
	list-style: none;
}
ul#pagination-clean li a {
	border-right: solid 1px #FFFFFF;
	padding: 2px 5px 2px 5px;
	float: left;
}
ul#pagination-clean li.on {
	border-right: solid 1px #FFFFFF;
	padding: 2px 5px 2px 5px;
	color: #000000;
	float: left;
	font-weight: bold;
}
ul#pagination-clean .previous-off {
	border-right: solid 1px #FFFFFF;
	padding: 2px 5px 2px 5px;
	color: #888888;
	float: left;
    font-weight: bold;
}
ul#pagination-clean .next-off {
	padding: 2px 5px 2px 5px;
	color: #888888;
	float: left;
    font-weight: bold;
}
ul#pagination-clean .previous a {
	border-right: solid 1px #FFFFFF;
	padding: 2px 5px 2px 5px;
	font-weight: bold;
	float: left;
}
ul#pagination-clean .next a {
	border-right: none;
	padding: 2px 5px 2px 5px;
	font-weight: bold;
	float: left;
}
ul#pagination-clean a:link, ul#pagination-clean a:visited {
	color: #0033CC;
	float: left;
}
ul#pagination-clean a:hover {
	text-decoration: none;
}