# Lines starting with '#' are considered comments.
# For syntax, see http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore 
**/.svn

prep/config

src/id-main/**
src/static/tohap/**
src/splashpages/**
src/api/**
src/xq/lscoll/**
src/xq/ingest*.xqy
src/xq/modules/lscoll/**
src/xq/modules/ead/**
src/xq/modules/pass*
src/xq/rdfxq*

prep/auths/auth_daily_query_filter.txt
prep/auths/auth2bibframe2/**
prep/auths/batchupdates/**
prep/auths/load/**
prep/auths/source/**
prep/auths/out/**
prep/auths/manifest/**
prep/auths/nohup*

prep/bibrecs/batchupdates/**
prep/bibrecs/load/**
prep/bibrecs/manifest/**
prep/bibrecs/source/**
prep/bibrecs/bfe-preprocess/**
prep/bibrecs/*test*
prep/bibrecs/nohup*
# marc2bibframe2:
prep/bibrecs/xsl/**
prep/bibrecs/batchupdates/**
prep/bibrecs/load/**
prep/bibrecs/source/**
prep/bibrecs/bfe-preprocess/**
prep/bibrecs/*test*
prep/logs/**
