# Lines starting with '#' are considered comments.
# For syntax, see http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore 
**/.svn
#gradle:
shared.properties

.gradle
gradle/*
gradlew
gradlew.bat
.gradle
gradlew-params
build*
build/**
#src/main/ml-modules/root/**


src/main/ml-modules/root/config
src/id-main/**

src/static/tohap/**
src/main/ml-modules/root/src/splashpages/**
src/main/ml-modules/root/src/api/**
src/main/ml-modules/root/src/xq/lscoll/**
src/main/ml-modules/root/src/xq/ingest*.xqy
src/main/ml-modules/root/src/xq/modules/lscoll/**
src/main/ml-modules/root/src/xq/modules/ead/**
src/main/ml-modules/root/src/xq/modules/pass*

##src/xq/rdfxq*

src/main/ml-modules/root/prep/auths/auth_daily_query_filter.txt
src/main/ml-modules/root/prep/auths/auth2bibframe2/**
src/main/ml-modules/root/prep/auths/batchupdates/**.txt
src/main/ml-modules/root/prep/auths/load/**
src/main/ml-modules/root/prep/auths/source/**
src/main/ml-modules/root/prep/auths/out/**
src/main/ml-modules/root/prep/auths/manifest/**
src/main/ml-modules/root/prep/auths/nohup*

src/main/ml-modules/root/prep/bibrecs/batchupdates/**.txt
src/main/ml-modules/root/prep/bibrecs/load/**
src/main/ml-modules/root/prep/bibrecs/manifest/**
src/main/ml-modules/root/prep/bibrecs/source/**
src/main/ml-modules/root/prep/bibrecs/bfe-preprocess/**
src/main/ml-modules/root/prep/bibrecs/*test*
src/main/ml-modules/root/prep/bibrecs/nohup*

# marc2bibframe2:
src/main/ml-modules/root/prep/logs/**
