# Lines starting with '#' are considered comments.
# For syntax, see http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore 
**/.svn


src/id-main/**
src/static/tohap/**
src/splashpages/**
src/api/**
src/xq/lscoll/**
src/xq/ingest*.xqy
src/xq/modules/lscoll/**
src/xq/modules/ead/**
src/xq/modules/pass*
src/xq/rdfxq*

prep/bibrecs/config

# marc2bibframe2
prep/bibrecs/xsl

prep/bibrecs/batchupdates/**
prep/bibrecs/load/**
prep/bibrecs/source/**
prep/bibrecs/bfe-preprocess/**
prep/bibrecs/*test*
prep/auths/auth2bibframe2/xsl/**
prep/auths/batchupdates/**
prep/auths/load/**
prep/auths/source/**
prep/auths/out/**
