@charset "utf-8";
/* 1024 wide display CSS Document */
body {
	font-size: 68.75%; /* 11px */
	line-height: 1.25;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin:0px;
	padding:0px;
	text-align:center;
	background: #fff;
}
a {
	color:#036;
	font-family: verdana, helvetica, sans-serif;
	font-weight:600;
	text-decoration: underline;
}
a#skip {
	position: absolute;
	top:-100px;
}
a:link, a:hover, a:visited {
	color: #036;
	text-decoration: underline;
	font-weight: 100;
}
img {
	border: 0;
}
#branding {
	display: none;
	position: absolute;
	top:-50px;
}
#container {
	width:983px;
	height: auto;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
	background-color: #fff; 
	border: 1px solid #999;
	color:#333;
}
/*  top navigation    */	
div#topnav	{
	height: 50px;
	width: 983px;
	margin: 0;
	padding: 0;
	background: #fff url(/static/lds/images/line-old.gif) top left no-repeat;
}
div#topnav ul#menu	{
	height: 50px;
	width: 983px;
	margin: 0;
	padding: 0;
	position: relative;
}
div#topnav ul#menu li {
	margin: 0;
	display: block;
	padding: 0;
	list-style: none;
	position: absolute;
}
#logo_lc { 
	background: transparent url(/static/lds/images/loc.gif) top left no-repeat;
	left:0;
	top:0;
	width: 194px;
	height: 50px;
}
#global_nav { 
	left: 194px;
	top: 0px;
	width: 461px;
	height: 63px;
	font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
}
ul#menu li#logo_lc a {
	display: block;
	width: 194px;
	height: 63px;
	text-decoration: none;
}
ul#menu li#logo_lc a:visited, ul#menu li#logo a:visited {
	text-decoration: none;
}
ul#menu li#global_nav a:link, ul#menu li#global_nav a:hover, ul#menu li#global_nav a:visited {
	text-decoration: underline;
}
div#topnav ul#menu li#searchmenu {
	padding: 4px 0px 0px 22px;
	margin: 0px;
	top: 0px;
	height: 45px; 
	left: 644px; 
	width: 330px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	background: transparent url(../images/vert_dots.gif) top left no-repeat;
}
div#topnav ul#menu li#searchmenu form a:link, div#topnav ul#menu li#searchmenu form a:hover, div#topnav ul#menu li#searchmenu form a:visited {
	font: normal 10px verdana, Helvetica, sans-serif;
	text-decoration: underline;
}
div#topnav form {
	margin: 0 0 0 0;
	padding: 0;
	height:40px;
	width: 330px;
	border: 0;
	font: normal 0px verdana, Helvetica, sans-serif;
}
div#topnav form label {
	margin: 0;
	padding: 0;
	font: normal 10px verdana, Helvetica, sans-serif;
}
div#topnav ul#menu #searchmenu form label a:link, div#topnav ul#menu #searchmenu form label a:hover, div#topnav ul#menu #searchmenu form label a:visited {
	margin: 0;
	padding: 0;
	color: #666;
	text-decoration: none;
	font: normal 10px verdana, Helvetica, sans-serif;
}
div#topnav form input.button {
	background-color: #0069aa;
	width:auto;
	height: 26px;
	vertical-align:bottom;
	color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0 3px 0 3px;
	border: 3px solid #e2e2e2;
	font: bold 12px verdana, Helvetica, sans-serif;

}
div#topnav form input {
	width: 260px;
	margin: 0px 0 0px 0;
	padding: 0;
	height: 22px;
	background-color: #fff;
	border: 2px solid #e2e2e2;
	font: 11px verdana, Helvetica, sans-serif;
}
/*
div#topnav  {
	margin: 0 0 0 0;
	padding: 0;
	height:40px;
	width: 330px;
	border: 0;
	font: normal 100%/100% Verdana, Arial, Helvetica, sans-serif;
}
div#topnav  label {
	margin: 0;
	padding: 0;
}
div#topnav ul#menu #searchmenu  label a:link, div#topnav ul#menu #searchmenu  label a:hover, div#topnav ul#menu #searchmenu  label a:visited {
	margin: 0;
	padding: 0;
	color: #666;
	text-decoration: none;
}
div#topnav  input.button {
	background-color: #0069aa;
	width:auto;
	height: 26px;
	font-weight: bold;
	vertical-align:bottom;
	color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0 3px 0 3px;
	border: 3px solid #e2e2e2;
}
div#topnav  input.button {
	background:transparent url(/static/lds/images/search_arrow.gif) 0 4px no-repeat;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	height: 32px;
	font-size: 100%;
	width: 37px;
}
div#topnav  input {
	width: 260px;
	margin: -2px 0 0px 0;
	padding: 0;
	height: 22px;
	background-color: #fff;
	border: 2px solid #e2e2e2;
} */
/* bread crumb  navigation  */
#crumb_nav {
	clear: both;
	height: auto;
	padding: 0px 0px 10px 15px;
	color: #fff;
	background-color: #333;
	border-top: 1px solid #999;
	border-bottom: 1px solid #000;
}
#crumb_nav #crumb {
	color: #fff;
	text-align: left;
	padding: 10px 0px 0px 0px;
	font: normal 90%/100% Verdana, Helvetica, sans-serif;
}
#crumb_nav #crumb a {
	color: #999;
	font-weight: 100;
}
#crumb_nav #crumb span {
	color: #ccc;
}
/* crumb nav ends*/
#content {
	width: 953px;
	height: auto;
	margin: 15px;
	font:normal 100%/120% verdana, helvetica, sans-serif;
	background-color: #fff;
	text-align:left;
	padding: 0px;
}
/* left nav rules */
#content #left_nav {
	float: left;
	width: 216px;
	height: auto;
	margin: 0;
	font: 100%/140% Verdana, Arial, Helvetica, sans-serif;
	border: 0;
	text-align:left;
	padding: 0px 0px 5px 0px;
}
#content #left_nav_top {
	width: 216px;
	height: 50px;
	margin: 0px 0px 15px 0px;
	border: 0;
	text-align:left;
	padding: 0;
}
#content #left_nav_mid {
	width: 216px;
	height: auto;
	margin: 0px 0px 10px 0px;
	text-align:left;
	padding: 50px 0 0 0;
	background: transparent url(/static/lds/images/leftnav.jpg) top left no-repeat;
	border: 1px solid #ccc;
}
#left_nav_mid h2 {
	padding: 10px 0 10px 0;
	background: transparent url(/static/lds/images/grey_dot.gif) bottom left repeat-x;
	color: #69c;
	margin: 0px 10px 5px 10px;
	font: bold 100%/120% Georgia, "Times New Roman", Times, serif;
}
#left_nav_mid h3 {
	padding: 10px 5px 0px 10px;
	background-color: #f5f5f5;
	color: #333;
	margin: 0 0 0 0;
	font: bold 90%/120% Verdana, Arial, Helvetica, sans-serif;
}
#left_nav_mid span {
	color: #666;
	font-weight: 500;
}
#left_nav ul#cat_list {
	padding: 5px 0px 5px 10px;
	margin: 50px 0px 0px 0px;
	border-bottom: 1px solid #ccc;
	border-top: 0px solid #ccc;
	background-color: #fff;
}
#left_nav ul {
	padding: 5px 0px 5px 10px;
	margin: 0px 0px 0px 0px;
	background-color: #f5f5f5;
}
#left_nav ul#index {
	border-bottom: 1px solid #ccc;
}
#left_nav ul#resources {
	background-color: #f5f5f5;
	border-top: 1px solid #ccc;
}
#left_nav_mid ul li {
	list-style-type: none;
	display:block;
	line-height: 15px;
	font: normal 100%/100% verdana, helvetica, sans-serif;
	background: transparent url(/static/lds/images/arrow_o.gif) no-repeat 0px 5px;
	padding: 2px 10px 2px 15px; 
	margin: 1px 0px 1px 0px;
}
#left_nav_mid ul#cat_list li {
	background: transparent url(/static/lds/images/arrow_back.gif) no-repeat 0px 5px;
}
#left_nav_mid ul#index li {
	background: transparent url(/static/lds/images/arrow.gif) no-repeat 0px 5px;
}
/*#left_nav_mid ul#index li span {
	text-decoration: none;
	font-weight: 100;
}*/
#left_nav_mid ul#resources li a {
	font: normal 100% Verdana, Arial, Helvetica, sans-serif;
}
#left_nav_mid ul li a {
	font: bold 100% Verdana, Arial, Helvetica, sans-serif;
}
ul#res_links {
	margin: 0;
	padding: 0 0 10px 0;
	background-color: #fff;
	border-bottom: 0;
	border-top: 0;
}
#left_nav_mid ul#res_links li {
	list-style-type: none;
	display: block; 
	height: auto;
	padding:2px 0 2px 10px;
	background: transparent url(/static/lds/images/gt.gif) no-repeat 0px 7px;
	margin: 0px 0px 0px 10px;
	font: normal 100%/130% Verdana, Arial, Helvetica, sans-serif;
}
#left_nav_mid ul#res_links li a:link, #left_nav_mid ul#res_links li a:visited {
	font: normal 100%/130% verdana, helvetica, sans-serif;
}
/*  end left nav rules  */
/* content rules */
#page_head {
	width: auto;
	height: auto;
	margin: 0px 0px 10px 230px;
	font: normal 90%/100% verdana, helvetica, sans-serif;
	background: transparent url(/static/lds/images/ph_top.gif) top left no-repeat;
	text-align:left;
	padding: 0 0 2px 0;
}
#page_head_help {
	width: auto;
	height: auto;
	margin: 0px 0px 10px 230px;
	font: normal 90%/150% verdana, helvetica, sans-serif;
	background: transparent url(/static/lds/images/ph_top.gif) top left no-repeat;
	text-align:left;
	padding: 0 0 2px 0;
}
#page_head h1, #page_head_help h1 {
	color: #343268;
	padding: 5px 10px 10px 10px;
	margin: 0;
	font: bold 13pt Georgia, "Times New Roman", Times, serif;
	line-height: 1em;
	display: block;
	background: transparent url(/static/lds/images/ph_bot.gif) bottom left no-repeat;
}
#content #page_head h1.oneline, #content #page_head_help h1.oneline {
	padding: 15px 0px 17px 10px;
}
#page_head h1 span {
	color: #000;
	font-size: 9pt;
	line-height: 1em;
	font-weight: 200;
}
#page_head_help h1 span {
	color: #000;
	font-size: 9pt;
	line-height: 1.5em;
	font-weight: 200;
}
#main_menu {
	width: auto;
	/*height: auto;*/
	height: auto;
	margin: 0px 0px 0px 230px;
	font: normal 100%/150% Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	padding: 20px;
	border: solid 1px #d4e9ff;
	border-bottom: none !important;
	background: #eff6fd;
}
#main_menu img.header {
	margin: 0 0 10px 0;
	padding: 0;
	border: 5px solid #ccc;
}
#main_menu p.caption {
	margin: 0;
	padding: 0px 10px 10px 0px;
	font: normal 90%/150% Verdana, Arial, Helvetica, sans-serif;
	color: #666;
}
/* one column page rules*/

#main_menu img#feature {
	margin: 0px 0px 10px 0px;
	padding: 0;
}
#content #main_body #searchnav, #content #main_body #itemnav {
	width: auto; /*changed from 950px to auto*/
	height: auto; /*changed from 50px to auto*/
	margin: 0;
	border: 0;
	border-bottom: 1px solid #d4e9ff;
	background-color: #eff6fd;
	padding: 0;
}
#container #content #main_body {
	width: auto;
	height: auto;
	margin: 0px 0px 0px 230px;
	font: normal 100% Verdana, Helvetica, sans-serif;
	text-align: left;
	padding: 10px;
	border: solid 1px #d4e9ff;
	background: #ffffff;
}
#container #content #main_body h2 {
	margin: 0;
	padding: 10px 10px 5px 10px;
	font: bold 120%/150% Georgia, "Times New Roman", Times, serif;
	color: #36c;
}
#container #content #main_body h2 span {
	color:#9c0;
}
#container #content h2.first {
	padding: 0px 10px 5px 10px;
}
#container #content #main_body h3 {
	margin: 10px 15px 0 10px;
	padding: 5px 0 10px 0;
	font: bold 100%/105% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
#container #content #main_body h3.dots {
	background: transparent url(/static/lds/images/dot.gif) bottom left repeat-x;
}
#container #content #main_body h3 span {
	font: normal 95%/120% Verdana, Arial, Helvetica, sans-serif;
}
#container #content #main_body h4, #content #main_body h5 {
	margin: 0;
	padding: 5px 10px 5px 10px;
	font: bold 100%/105% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
#container #content #main_body p {
	padding: 7px 10px 7px 10px;
	margin: 0;
	font: normal 100%/150% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
/* #main_body ul {
	margin: 10px auto 10px 10px;
}
#main_body ul li {
	list-style-type: none;
	background: transparent url(/static/lds/images/arrow_go.gif) no-repeat 0px 3px;
	padding: 0px 10px 3px 20px;
	font: normal 100%/150% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}
#main_body ul li p {
	font: normal 100%/120% Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 0 5px 0;
	margin: 0;
} */
#main_body ul {
	padding: 7px 10px 10px 5px;
	margin: 0;
}
#main_body ul li {
	list-style-type:none;
	margin: 0px 0px 0px 10px;
	padding: 3px  10px 3px 20px;
	background: transparent url(/static/lds/images/gt.gif) 1px 9px no-repeat;
	font: normal 100%/150% Verdana, Arial, Helvetica, sans-serif;
}
#main_body img.thumb, #main_body img.item {
	padding: 0;
	margin: 10px;
}
#main_body ul li span {
	font-weight: normal;
	color:#555555;
	font-size:90%;
}
#main_body ul li ul li {
	margin: 0px 0px 0px 0;
	padding: 0px  10px 3px 10px;
	list-style: none;
	background: transparent url(/static/lds/images/dash.gif) center left no-repeat;
	font-size: 100%;
	font-weight: normal;
}
#main_body ol li ul {
	margin: 10px 0px 10px 0px;
	padding: 0px  10px 3px 0px;
}
#main_body ol li ul li {
	margin: 0px 0px 0px 0px;
	padding: 0px  10px 3px 10px;
	list-style: none;
	background: transparent url(/static/lds/images/square.gif) 0 5px no-repeat;
	font-size: 120%;
	line-height: 130%;
}
#main_body ol {
	margin: 0px 10px 0px 15px;
	padding: 10px 0px 10px 20px;
}
#main_body ol li {
	margin: 0px 10px 0px 5px;
	padding: 5px 0px 5px 0px;
	font: normal 85%/130% Verdana, Arial, Helvetica, sans-serif;
}
#main_body ol li p, #main_body ol li ol li {
	font: normal 100%/130% Verdana, Arial, Helvetica, sans-serif;
}
#main_menu img#feature {
	border: 5px solid #CAC5C4;
	margin: 0 0 5px 0;
	padding: 0;
}
#main_body table {
	width: 95%;
	height: auto;
	margin: 10px;
	border-collapse: collapse;
	border: 1px solid #666;
	font: normal 90% verdana, helvetica, sans-serif;
	text-align:left;
	padding: 0;
}
#main_body table th {
	width: auto;
	height: auto;
	font: bold 90% verdana, helvetica, sans-serif;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	background-color: #f7f7f7;
	color: #666;
	text-align:left;
	padding: 5px;
}
#main_body table td {
	width: auto;
	height: auto;
	font: normal 90%/130% verdana, helvetica, sans-serif;
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;
	color: #666;
	text-align: left;
	vertical-align: top;
	padding: 5px 5px 5px 5px;
}
#main_body table td p {
	font-size: 100%;
}
/* Last Updated Date Rules*/
#container p.last_updated_home {
	clear: left;
	text-align: right;
	color: #666;
	font: normal 70%/100% Verdana, Arial, Helvetica, sans-serif;
	padding: 0 15px 0 0;
}
#main_body p.last_updated {
	text-align: right;
	color: #666;
	font: normal 80%/100% Verdana, Arial, Helvetica, sans-serif;
}
/*end Last Updated Date Rules*/
/* end of content rules   */
/*  footer rules */
/* #footer {
	clear: both;
	font: normal 100%/100% verdana, helvetica, sans-serif;
	height: 30px;
	text-align: left;
	color:#666;
	border-color: #005194;
	border-width: 0px;
	background: #efefef url(/static/lds/images/line.gif) top left no-repeat;
	padding: 15px 0px 0px 15px;
}
#footer a:link, #footer a:hover , #footer a:active, #footer a:visited {
	color:#666;
	font-size: 90%;
	font-family: verdana, helvetica, sans-serif;
	font-weight: normal;
	text-decoration:underline;
} */
/* Override for Share Tool Alignment */
#content div.locshare-toolbar {
	text-align: left !important;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	padding: 0px !important;
}
/* SEARCH BOX */
/* #main_menu h2.search {
	display: inline;
}
#main_menu h2.search label {
	display: none;
} */
.search_form label.nodisplay, .browse_form label.nodisplay {
	visibility: hidden;
	display: none;
}
#main_menu input.search, #main_menu input.browse {
	border: 1px solid #DC5541;
	background-color: #ffffff;
	width: 300px; 
	font-size: 12px; 
	padding: 5px 5px 5px 20px;
	background-image: url("/static/lds/images/searchboxicon.png");
	background-repeat: no-repeat; 
	background-position: 4px 50%;
}
#main_menu input.search, #main_menu input.browse  {
	border: 1px solid #999999;
}
#main_menu #search_box, #main_menu #browse_box {
	position: relative;
}
/* #main_menu #search_box a {
	color: white;
	position: absolute;
	right: 5px;
	bottom: -25px;
}
#main_menu #search_box a:hover {
	border-bottom: none !important;
}
#main_menu #search_box .search_ {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
#main_menu #search_box .search_ tr td {
	padding: 0px;
	margin: 0px;
	border: 0px;
	vertical-align: top;
}
#main_menu #search_box .search_ tr td input#quick-search-box {
	vertical-align: top;
	margin-right: 10px;
}
#main_menu #search_box .search_ tr td image#quick-search-options-img {
	vertical-align: top;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	vertical-align: top;
}
*/
#quick-search-options, #browse-search-options {
	width: 500px;
	margin-top: 5px;
}
#quick-search-options input.searchOptionRadioControl, #browse-search-options input.searchOptionRadioControl {
	vertical-align: middle;
} 
#quick-search-options label, #browse-search-options label{
	vertical-align: middle;
	font: 9pt/12pt Verdana, Arial, Helvetica, Geneva, sans-serif;
	padding-right: 10px;
	color: #666666;
}
/* #main_menu #search_box #quick-search-options #quick-search-options-container {
	font-size: 10px;
	background: #F8FAFB;
	border: 1px solid #999999;
	border-top: 0;
	padding:5px;
	padding-top: 4px;
} 
*/
/* Split button */
/* #main_menu #split_button {
	position:relative;
}
#main_menu #split_button .button_set {
	display:inline;
}
#main_menu #split_button .drop_down {
	border:1px solid #CCCCCC;
	background-color:white;
	text-align:left;
	position:absolute;
	right:0;
	*right:-88px;
	*top:-25px;
	z-index:1;
*/
/*	Unfortunately does not render when over a light background
  -webkit-border-radius-bottomright: 4px; 
  -moz-border-radius-bottomright: 4px; 
  border-radius-bottomright: 4px;
  -webkit-border-radius-bottomleft: 4px; 
  -moz-border-radius-bottomleft: 4px; 
  border-radius-bottomleft: 4px;
} 
*/
#main_menu #split_button .drop_down li {
	padding:0 5px;
	border:1px solid white;
	cursor:pointer;
	white-space: nowrap;
}
#main_menu #split_button .drop_down li:hover {
	border:1px dotted #CCCCCC;
}
#main_menu #split_button .drop_down li a {
	color:black;
}
#main_menu #split_button .drop_down li:hover a {
	color:white;
}
#main_menu #split_button .drop_down li a:hover {
	border:none;
	color:white;
}
#main_menu #split_button .drop_down li:hover, #search_modifiers .drop_down li:hover {
	background: none repeat scroll 0 0 #555555;
}
/*
#newOptionsMenu {
    /*position:absolute;
    top:35px;
    left:575px;
    height:25px;
    width:75px;*/
    position: relative;
    margin-bottom: -9px;
    margin-left: -4px;
    /*border:1px solid #7F9DB9;*/
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
*/
#searchOptionsContainer, #browsseOptionsContainer  {
    position: relative;
    margin-top:-35px;
    margin-left: -220px;
    border: 1px solid #999999;
    border-top: 0;
    background: #F8FAFB!important;
    height: 23px;
    _height:30px;
    width:392px;
    *width:294px;
    _width:301px;
    padding-top: 4px!important;
    padding-bottom: 6px!important;
    padding-left: 5px!important;
    display: none;
    padding-left:2px;
    font-size:8pt;
    /*font-family:arial;    
    font-weight:normal;
    color:#73716B;*/
    /*z-Index:10;*/
    z-index:1;
}
/*
.searchOptionRadio {
    float:left;
    padding-right:5px;
}
.searchOptionRadioText {
    float:left;
    padding-right:15px;
}
.searchOptionRadioControl {
   margin-top:1px;
    height:12px;
    width:12px; 
}*/
/*
#lowerSearchText {
    position:absolute;
    top:62px;
    left:220px;
    _left:245px;
    *left:245px;
}
#errorMsg1 {
    font-size: 11px;
    font-family: arial;
}
*/
.limits-container-move {
    margin-top: 10px;
}
#limits-container {
    margin-top: 10px;
	margin-bottom: 20px;
}
/********************
Messages
********************/
.msg-info {
margin: 10px;
padding:9px;
border:1px solid #ddd;
background-color:#eee;
color:#666;
}
.msg-warning {
margin: 10px;
padding:9px;
border:1px solid #fbc2c4;
background-color:#fbe3e4;
color:#8a1f11;
}
.msg-notice {
margin: 10px;
padding:9px;
border:1px solid #ffd324;
background-color:#fff6bf;
color:#514721;
}
.msg-success {
margin: 10px;
padding:9px;
border:1px solid #c6d880;
background-color:#e6efc2;
color:#264409;
}
/********************
Buttons - LC Standards
********************/
button { 
	border: 1px solid #666;
	color: #666;
	cursor: pointer; 
	text-align: center;
	font: normal 1em Verdana, Arial, Helvetica, sans-serif;
	padding: 3px 7px;
	margin: 0;
	overflow: visible;
	background: #d0cecf url(../images/btn_submit_bg.gif) left bottom repeat-x;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-left: 10px;
}
button.primary { 
	border: 2px solid #000;
	color: #000;
	font-weight: bold;
}
button.btn-sm {
	font-size: .9em;
	padding: 1px 4px;
}
p.box-btns {
    padding: 15px;
    background: #eee url(../images/dot.gif) 0 top repeat-x;
    text-align:right;
    margin-bottom: 0px;
}
.btns-left {
	float:left;
}
.ui-menu {
	text-align: left;
}
.ui-widget {
	font-size: 1em;
}
/********************print share save **************/
#container #content div.locshare-toolbar {
	font-size:10px;
	text-trans:none;
	line-height:120%;
	margin: 10px 0 10px 10px !important;
	text-align: left !important;
}
#container #content div.locshare-this {
	height:25px !important;
}
/*******************end print share save **************/
/* NEW FOOTER RULES */
#footer, #footer * {
	margin:0;
	padding: 0;
}
#footer {
	clear: both;
	background: #900 url(/static/lds/images/line.gif) 0 0 no-repeat;
	padding-top:2px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 10px !important;
	line-height: 1.333 !important;
}
#footer, #footer h3, #footer h4 {
	color: #666 !important;
}
#footer a:link, #footer a:visited {
	color: #666;
	text-decoration: underline;
}
#footer a:focus, #footer a:hover, #footer a:active {
	color: #333;
	text-decoration: underline;
}
#footer h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
}
#footer h4 {
	font-size: 10px;
}
#footer .f_container {
	background-color: #fefefe;
}
#footer .f_inner_top {
	padding: 10px;
	margin-bottom: 2px;
}
#footer .f_inner_top h3 span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin-left: 5px;
}
#footer .f_inner_top h3 span a {
	background: transparent url(/static/lds/images/arrow-dbl-gray-right.gif) right 4px no-repeat;
	padding-right: 8px;
}
#footer .f_inner_mid {
	padding: 5px 0px;
	margin: 0px 10px 0px 50px;
	width: 630px;
	overflow: hidden;
}
#footer .f_inner_mid .find_us {
	width:29%;
	float:left;
	clear:left;
}
#footer .f_inner_mid .find_us h4 {
	margin-bottom: 2px;
}
#footer .f_inner_mid .find_us a {
	margin: 0 13px 0 0px;
	border:0;
}
#footer .f_inner_mid .find_us img {
	border:0;
}
#footer .f_inner_mid .subscribe {
	width:34%;
	float:left;
}
#footer .f_inner_mid .subscribe a {
	margin: 0 13px 0 0px;
	border:0;
}
#footer .f_inner_mid .download {
	width:37%;
	float:left;
	clear:right;
}
#footer .f_inner_mid .download span.external a {
	background: transparent url(/static/lds/images/icon-ext-foot.gif) right 2px no-repeat;
	padding-right: 12px;
}
#footer .f_inner_mid .download a {
	margin: 0 13px 0 0px;
	border:0;
}
#footer .f_inner_bot {
	padding: 12px 10px 13px 10px;
	margin: 0;
	text-align:right;
	overflow:hidden;
	clear:both;
}
#footer .f_inner_bot .sitelinks {
	float:left;
	clear:left;
}
#footer .f_inner_bot .speech {
	float:right;
	clear:right;
}
#footer .f_inner_bot .speech a {
	background: transparent url(/static/lds/images/speech.gif) right 0px no-repeat;
	padding-right: 18px;
}