/********************
Base Styles - All Screens
********************/
a#skip {
  position: absolute;
  top: -100px;
}
a:link, a:visited {
  color: #036;
  text-decoration: underline;
}
a:focus, a:hover, a:active {
  color: #36C;
  text-decoration: underline;
}
body {
  font-size: 68.75%; /* 11px */
  line-height: 1.333;  
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333;
  word-wrap: break-word; 
}
h1, h2, h3 {
  font-family: Georgia, "Times New Roman", Times, Serif;
}
h1 {
  font-size: 1.75em;
  color: #343268;
}
/*********************   
h1 heading (from LC new Standard)
*********************/
#page_head {
margin-bottom: 20px;
clear:both;
}
#page_head h1 {
color: #343268;
margin: 0px 0px 0px 10px;
line-height: 1.1em;
font-family: Arial, Helvetica, sans-serif; 
}
#page_head h1 span {
color: #000;
font-size: 70%;
font-weight: 200;
pagdding-left: 5px;
}
#page_head h1 span a {
color: #036;
}
h2 {
  font-size: 1.33em;
  margin: 0 0 0.6em 0;
  color:#36C;
}
h3, h4, h5, h6 {
  color:#666;
}
h2, h3 {
  font-size: 1.125em;
  margin: 0 0 0.4em 0;
}
h4 {
  font-size: 1em;
  margin: 0 0 0.2em 0;
}
h5, h6 {
  font-size: 1em;
}
p, dl {
  margin: 0 0 1.25em 0;
}
/* ul, ol {
  margin: 0 0 1.25em 0; 
  padding-left: 2.5em;
} */
dt {
  margin: 0 0 0.5em 0;
  font-weight:bold;
}
dd {
  margin: 0 0 0.5em 2.5em;
}
pre, code, tt {
  margin: 0 0 1em 0; 
  font-family:"Courier New", Courier, monospace;
}
code, tt {
  padding: 0 1px;
}
small {
  font-size: 85%;
}
big {
  font-size: 115%;
}
sup {
  font-size: 85%; 
  vertical-align: 0.5em; 
  line-height: 1px;
}
table {
  //border-collapse: separate;
  width: 100%;
  //border-color: #ccc;
  //border-width: 1px 0 0 1px;
  //border-style: solid;
  text-align: left;
  empty-cells: hide;
  margin-bottom: 1.25em;
}
th, td {
  //border-color: #ccc;
  //border-width: 0 1px 1px 0;
  //border-style: solid;
  padding: 3px;
  vertical-align: middle;
}
table.autoW {
  width:auto;
}
/* ul li, ol li {
  margin-bottom: 4px;
}
li ul, li ol {
  margin: .5em 0 .5em 0;
} */
blockquote p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #666;
}
.cite {
  color:#666;
}
/********************
Forms - LC Standards
********************/
form {
	margin-bottom: 1.25em;
}
form label, form input, form select, form button, form p {
	vertical-align: middle;
}
form small {
	color: #666;
}
form label {
	font-weight: bold;
}
form label.norm {
	font-weight: normal;
	font-size: 9pt;
}
form .label_alt {
	font-weight: bold;
}
form textarea.txtarea, form select.sel {
	border: 1px solid #999;
	margin: 2px 0;
}
form input.txt {
	padding: 2px;
	border: 1px solid #999;
	margin: 2px 0;
}
form input.radio, form input.check {
/* nothing here yet */
}
form .error span, form .error label, form .error .label_alt, form .error small {
	color:#f00;
}
form .error input.txt, form .error select.sel, form .error textarea.txtarea { 
	border-color: #ffb2b2; 
	border-color: #f00; 
	background-color: #fdf1f1;
}
/* Special Form Settings for Quick Search Box */
form#quick-search {
    padding: 2px 0px 0px 0px;
    margin: 0px;
	/* width: 700px; */
	width: 620px;
    float: left;
}
/* added by Clay */
form#quick-search select#suggester {
    margin: 0px 5px 0px 5px;
}
/* added by Clay */
form#quick-search input#quick-search-box, form#quick-search label {
	vertical-align: middle;
}
form#quick-search label.searchbox-title{
	font-weight: bold;
	color: #000;
}
/* added by Betsy */
form#quick-search fieldset select {
	border: 1px solid #999;
    margin: 2px 2px 2px 0px;
}
form#quick-search fieldset input {
	border: 1px solid #999;
	margin-right: 2px;
	padding: 1px;
}
form#search-result-options-form select {
	border: 1px solid #999;
    margin: 2px 2px 2px 0px;
}
form#search-result-options-form input {
	border: 1px solid #999;
	margin-right: 2px;
	padding: 1px;
}
.searchhelp {
	float: right;
	background: transparent url(../images/i_arrow.gif) 0 6px no-repeat;
	padding-left: 10px;
	margin: 8px 10px 0px 8px;
	font-weight: normal;
}
/********************
Messages
********************/
.msg-info {
margin: 10px;
padding:9px;
border:1px solid #ddd;
background-color:#eee;
color:#666;
}
.msg-warning {
margin: 10px;
padding:9px;
border:1px solid #fbc2c4;
background-color:#fbe3e4;
color:#8a1f11;
}
.msg-notice {
margin: 10px;
padding:9px;
border:1px solid #ffd324;
background-color:#fff6bf;
color:#514721;
}
.msg-success {
margin: 10px;
padding:9px;
border:1px solid #c6d880;
background-color:#e6efc2;
color:#264409;
}

/********************
Buttons - LC Standards
********************/
button { 
	border: 1px solid #666;
	color: #666;
	cursor: pointer; 
	text-align: center;
	font: normal 1em Verdana, Arial, Helvetica, sans-serif;
	padding: 2px 7px;
	margin: 0;
	overflow: visible;
	background: #d0cecf url(../images/btn_submit_bg.gif) left bottom repeat-x;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
button.primary { 
	border: 2px solid #000;
	color: #000;
	font-weight: bold;
}
button.btn-sm {
	font-size: 1em;
	padding: 1px 5px;
}
p.box-btns {
    padding: 15px;
    background: #eee url(../images/dot.gif) 0 top repeat-x;
    text-align:right;
    margin-bottom: 0px;
}
.btns-left {
	float:left;
}
button#sort-submit, button#count-submit  {
	margin-left: 2px;
	padding: 1px 7px;
}
/********************
Lists - LC Standards
********************/
ul.plain {
list-style: none;
padding-left: 0px;
}
ul.plain li {
padding: 0;
}
ul.std {
list-style: none;
padding-left: 0px;
}
ul.std li {
padding: 0 0 0 14px;
background: transparent url(../images/i_arrow.gif) 3px 5px no-repeat;
}
ul.bullet {
list-style: none;
padding-left: 0px;
}
ul.bullet li {
padding: 0 0 0 14px;
background: transparent url(../images/bullet.gif) 3px 6px no-repeat;
}
ul.arrow_o {
list-style: none;
padding-left: 0px;
}
ul.arrow_o li {
padding: 0 0 0 14px;
background: transparent url(../images/i_arrow_o.gif) 0px 4px no-repeat;
}
ul.arrow_o_gr {
list-style: none;
padding-left: 0px;
}
ul.arrow_o_gr li {
padding: 0 0 0 14px;
background: transparent url(../image/i_arrow_grey.gif) 0px 4px no-repeat;
}
/********************
Facets - New Styles
********************/
#ds-facetvalues .your-search {
}
#ds-facetvalues .facet {
	padding: 0px 3px 0px 3px;
}
#ds-facetvalues .facet img.facet-arrow {
	padding: 0px 3px 0px 10px;
	width: 4px;
	height: 7px;
}
/* CSS buttons for facet on and off */
.cssnav {
	background: url(../images/facet-over.gif) 0px 1px no-repeat;
	width: 12px;
	height: 11px;
	margin: 0px;
	padding: 1px 0px 0px 0px;
	border: 0px;
	vertical-align: text-top;
}
.cssnav a {
	text-decoration: none;
}
.cssnav img {
	width: 12px;
	height: 11px;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	border: 0px;
}
* html a:hover {
	visibility: visible;
	cursor: pointer;	
}
.cssnav a:hover img {
	visibility: hidden;
}
#ds-facets #facet-results .facet-box .title h3.title-name {
	margin: 0px;
	padding: 0px;
}
#ds-facets #facet-results .facet-box .content {
	color: #666;
	font: 8pt/12pt Verdana, Arial, Helvetica, sans-serif;
}
#ds-facets #facet-results .facet-box .content img {
	vertical-align: top;
	padding: 0px;
	margin-top: 3px;
}
#ds-facets #facet-results .facet-box .content a:link img {
	background-color: transparent;
}
#ds-facets #facet-results .facet-box .content a:hover img {
	background-color: #FFF;
}
#ds-facets #facet-results .facet-box span.facet-selected {
	color: #F60;
}

/********************
Search Results - New Styles
********************/
#ds-body #dsresults #ds-mainright #ds-hitlist ul {
	margin: 0px 20px 10px 0px;
	padding: 0px 5px 5px 0px;
	list-style: none;
    font: 110%/150% Verdana, Arial, Helvetica, sans-serif;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li {
	padding: 10px 0px 10px 0px;
	border-bottom: solid 1px #dddddd;
	min-height: 110px;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .hit {
	font-weight: bold;
    display: block; 
	float: left; 
	clear: left; 
	text-align: right;
	width: 60px;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li img.hit-cover {
	float: right;
	height: 100px;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .hit-link {
	margin-left: 60px;
	padding-left: 6px;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .hit-link a {
	
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .author {
	margin-left: 60px;
	margin-top: 5px;
	color: #666;
    font: 95%/140% Verdana, Arial, Helvetica, sans-serif;
	padding-left: 6px;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .publisher{
	margin-left: 60px;
	margin-top: 5px;
    font: 90%/140% Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	padding-left: 6px;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .format {
	margin-left: 60px;
	margin-top: 5px;
    font: 90%/140% Verdana, Arial, Helvetica, sans-serif;
	color: #030;
	padding-left: 6px;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .format span {
	font-weight: bold;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .online {
	margin-left: 60px;
	margin-top: 5px;
    font: 90%/150% Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	padding-left: 20px;
	background: url(../images/digital-star.gif) 4px no-repeat;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .part-online {
	margin-left: 60px;
	margin-top: 5px;
    font: 90%/150% Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	padding-left: 20px;
	background: url(../images/part-online.gif) 4px no-repeat;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .location {
	margin-left: 60px;
	margin-top: 5px;
	padding-left: 6px;
    font: 90%/150% Verdana, Arial, Helvetica, sans-serif;
	color: #036;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .location span {
	font-weight: bold;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li .findaid-ext {
	margin-left: 60px;
	margin-top: 5px;
	padding-left: 6px;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li div.findaid-summary {
	margin-left: 60px;
	margin-top: 5px;
	padding: 5px;
	background-color: #eeeeee;
}
#ds-body #dsresults #ds-mainright #ds-hitlist ul li div.findaid-summary span {
	font-weight: bold;
}
form.resort, form.numhits {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
form.resort select, form.numhits select {
	border: 1px solid #999;
	margin: 2px 0px 2px 0px;
	padding: 1px 0px 1px 0px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}
/* PAGING - left floats removed - EFM - March 29, 2011 */
ul#pagination-clean {
	border: 0; 
	margin: 5px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}
ul#pagination-clean li {
	display: inline; 
	font-size: 1em;
	list-style: none;
}
ul#pagination-clean li a {
	border-right: solid 1px #FFFFFF;
	padding: 2px 10px 2px 5px;
/*	float: left; */
}
ul#pagination-clean li.on {
	border-right: solid 1px #FFFFFF;
	padding: 2px 10px 2px 5px;
	color: #000000;
/*	float: left; */
	font-weight: bold;
}
ul#pagination-clean .previous-off {
	border-right: solid 1px #FFFFFF;
	padding: 2px 10px 2px 5px;
	color: #888888;
/*	float: left; */
    font-weight: bold;
}
ul#pagination-clean .next-off {
	padding: 2px 10px 2px 5px;
	color: #888888;
/*	float: left; */
    font-weight: bold;
}
ul#pagination-clean .previous a {
	border-right: solid 1px #FFFFFF;
	padding: 2px 10px 2px 5px;
	font-weight: bold;
/*	float: left; */
}
ul#pagination-clean .next a {
	border-right: none;
	padding: 2px 10px 2px 5px;
	font-weight: bold;
/*	float: left; */
}
ul#pagination-clean li a:link, ul#pagination-clean li a:visited {
	color: #036;
/*	float: left; */
	text-decoration: none;
}
ul#pagination-clean li a:hover, ul#pagination-clean li a:focus, ul#pagination-clean li a:active {
	color: #36C;
	text-decoration: underline;
}
/* BIB RECORD DISPLAY STYLES */
#ds-body #dsresults #ds-bibrecord h1#title-top {
	clear: left;
	font: bold 120%/100% Georgia, "Times New Roman", Times, serif;
	color: #36c;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 5px 0px;
	 line-height: 1.5;
	background: transparent url(../images/dot.gif) top left repeat-x;
}
#ds-body #dsresults #ds-bibrecord img, #ds-bibrecord-new img {
	float: right;
	max-width: 200px;
	margin: 10px 5px 5px 10px;
/*	border: #cccccc 5px solid; */
}
#ds-body #dsresults #ds-bibrecord dl.record {
	width: auto;
	height: auto;
	font: 105%/130%;
	text-align: left;
	margin: 10px 0px 10px 0px;
}
#ds-body #dsresults #ds-bibrecord dl.record dt {
	font-weight: bold;
	float: left;
	width: 220px;
	text-align: right;
	color: #666;
}
#ds-body #dsresults #ds-bibrecord dl.record dd {
	font: normal;
	color: #000;
	margin-left: 230px;
}
ul.bibrecord-nav {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	margin-top: -3px;
	width: 100%;
}
ul.bibrecord-nav li {
	padding-left: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
	display: inline;
}
ul.bibrecord-nav li a.previous {
	float: left;
	margin-right: 0px;
	padding: 5px 0 7px 18px;
	background: url(../images/prev.gif) left center no-repeat;
} 
ul.bibrecord-nav li span.prev_off {
	float: left;
	color: #666666;
	margin-right: 0px;
	padding: 5px 0 7px 18px;
	background: url(../images/prev_off.gif) left center no-repeat;
}   
ul.bibrecord-nav li a.next {
	float: left;
	margin-right: 0.85em;
	padding: 5px 19px 7px 0px;
	background: url(../images/next.gif) right center no-repeat;
} 
ul.bibrecord-nav li span.next_off {
	float: left;
	color: #666666;
	margin-right: 0.85em;
	padding: 5px 19px 7px 0px;
	background: url(../images/next_off.gif) right center no-repeat;
}  
ul.bibrecord-nav li span.count {
	float: left; 
	margin-right: 0.55em; 
	padding: 5px 0px 7px 5px; 
}
ul.bibrecord-nav li a.back {
	float: left; 
	margin-right: 6.75em; 
	padding: 5px 0 7px 15px; 
	background: url(../images/back.gif) left center no-repeat;
}
ul.bibrecord-nav li a.marc { 
	margin-right: 6.75em; 
	position: absolute;
	left: 450px;
	padding: 5px 19px 7px 20px; 
	background: url(../images/i_marc.gif) right center no-repeat;
}
ul.bibrecord-nav li a.labeled { 
	margin-right: 6.75em; 
	position: absolute;
	left: 450px;
	padding: 5px 19px 7px 20px; 
	background: url(../images/i_label.gif) right center no-repeat;
}
ul.bibrecord-nav li a.print { 
	margin-right: 6.75em; 
	position: absolute;
	left: 600px;
	padding: 5px 19px 7px 20px; 
	background: url(../images/i_print.gif) right center no-repeat;
}
#ds-bibviews h2.top {
	font: bold 9pt Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	margin: 0px;
	padding-top: 5px;
	background: none;
}
#ds-bibviews h2 {
	font: bold 9pt Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	margin: 10px 0px 0px 0px;
	padding-top: 10px;
	background: transparent url(../images/dot.gif) top left repeat-x;
}
#ds-bibviews ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	width: 100%;
}
#ds-bibviews ul li {
	padding: 6px 0 0 14px;
	background: transparent url(../images/i_arrow.gif) 3px 10px no-repeat;
}
/* Browse styles */
#ds-body #dsresults #ds-browseresults h1#title-bottom {
	clear: left;
	font: bold 120%/100% Georgia, "Times New Roman", Times, serif;
	color: #36c;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
}
ul.browseresults-nav {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	width: 100%;
	margin: 0px;
	padding: 6px 0px 8px 5px;
	height: 20px;
	background-image: transparent url(../images/dot.gif) top left repeat-x;
}
ul.browseresults-nav li {
	padding-left: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
	display: inline;
}
ul.browseresults-nav li a.previous {
	float: left; 
	margin-right: 0.75em; 
	padding: 5px 0 7px 18px; 
	background: url(../images/prev.gif) left center no-repeat;
}
ul.browseresults-nav li a.next {
	float: left; 
	margin-right: 0.75em; 
	padding: 5px 18px 7px 5px; 
	background: url(../images/next.gif) right center no-repeat;
}
ul.browseresults-nav li span.count {
	float: left; 
	margin-right: 0.75em; 
	padding: 5px 0 7px 5px; 
}
ul.browseresults-nav li a.back {
	float: left; 
	margin-right: 4em; 
	padding: 5px 0 7px 15px; 
	background: url(../images/back.gif) left center no-repeat;
}
ul.browseresults-nav li a.marc { 
	margin-right: 6.75em; 
	position: absolute;
	left: 420px;
	padding: 5px 19px 7px 20px; 
	background: url(../images/i_marc.gif) right center no-repeat;
}
ul.browseresults-nav li a.print { 
	margin-right: 6.75em; 
	position: absolute;
	left: 545px;
	padding: 5px 19px 7px 20px; 
	background: url(../images/i_print.gif) right center no-repeat;
}
ul.browseresults-list {
	list-style-type: none;
	padding-left: 0;
	margin: 20px 0px 0px 0px;
	width: 100%;
	clear: both;
}
ul.browseresults-list li.odd {
	list-style-type: none;
	padding-left: 0;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 5px;
	background-color: #FFFFFF;
	border-top: dotted 1px #CCC;
	width: 100%;
	clear: both;
}
ul.browseresults-list li.even {
	list-style-type: none;
	padding-left: 0;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 5px;
	border-top: dotted 1px #CCC;
	width: 100%;
	clear: both;
}
ul.browseresults-list li.even div.heading, ul.browseresults-list li.odd div.heading {
	margin-left: 8px;
	color: #666;
	float: left;
}
ul.browseresults-list li.even div.frequency, ul.browseresults-list li.odd div.frequency {
	margin-left: 5px;
	color: #666;
	display: inline;
}

/********************
   Librarian view
********************/
#marc-view {
  padding: 10px;
/* border: 1px solid #CCCCCC; */
  text-align: left;
}
#marc-view .field {
  clear: both;
  padding-top: 5px;
/*  border-bottom: 1px solid #CCCCCC; */
}
#marc-view .field .tag_ind .tag {
	font-weight: bold;
}
#marc-view .control_field_values {
	font-weight: normal;
	margin-left: 22px;
}
#marc-view .field .tag_ind .ind1 {
  padding: 0px;
  margin-left: 5px;
  width: 10px;
  display: inline;
  font-weight: bold;
}
#marc-view .field .tag_ind .ind2 {
  padding: 0px;
  margin-left: 5px;
  width: 10px;
  display: inline;
  font-weight: bold;
}
#marc-view .tag_ind {
  float: left;
  font-weight: normal;
}
#marc-view .field .subfields {
  padding-left: 5em;
  font-weight: normal;
}
#marc-view .field .subfields .sub_code {
  font-weight: bold;
}
.white-space {
  word-wrap: break-word;
}
/* FEEDBACK FORM */
#content-feedback h1 {
	color: #343268;
	margin: 0px 0px 0px 0px;
	line-height: 1.1em;
	font-family:Arial, Helvetica, sans-serif; 
}
#content-feedback form fieldset p select {
	border: 1px solid #999;
    margin: 2px 2px 2px 0px;
	width: 640px;
}
#content-feedback form fieldset p input {
	border: 1px solid #999;
	margin-right: 2px;
	padding: 1px;
	width: 640px;
}
#content-feedback form p select {
	border: 1px solid #999;
    margin: 2px 2px 2px 0px;
	padding: 5px;
	width: 550px;
	font: 9pt/15pt Verdana, Geneva, Arial, sans-serif;
}
#content-feedback form p input {
        border: 1px solid #999;
        margin: 0px;
        padding: 5px;
        width: 550px;
        font: 9pt/15pt Verdana, Geneva, Arial, sans-serif;
        display: block;
}
#content-feedback form p textarea {
        padding: 5px;
        border: 1px solid #999;
        margin: 2px 0;
        overflow: auto;
        width: 720px;
        height: 260px;
        border-collapse: collapse;
        font: 9pt/15pt Verdana, Geneva, Arial, sans-serif;
        display: block;
}
#content-feedback form#commentform input.error, #content-feedback form#commentform textarea.error {
    border: 1px solid #FF0000;
    background-color: #FDF1F1;
}
#content-feedback form#commentform label.error {
    color: red;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
p.req {
	margin: 5px 0px 5px 0px;
	padding: 5px;
	background: #eeeeee;
}
#ds-feedback a#feedback-link {
    font: normal 8pt Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 5px 0px 18px; 
	background: url(../images/i_email.gif) left bottom no-repeat;
}
#ds-feedback span#feedback-response {
	font: normal 8pt Verdana, Geneva, Arial, sans-serif;
	padding: 3px;
	background: #eeeeee;
	display: inline;
}
#facetmorediv h1 {
  margin: 0px;
  padding: 0px 0px 10px 10px;
  color: #900;
  font: bold 120%/100% Georgia, "Times New Roman", Times, serif
}
#facetmorediv ul.bibrecord-nav {
	list-style-type: none;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
	width: 100%;
	background: transparent url(../images/dot.gif) bottom left repeat-x;
}
#facetmorediv ul.bibrecord-nav li {
	padding-left: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	display: inline;
}
#facetmorediv ul.bibrecord-nav li a.back {
	padding: 5px 0 7px 15px; 
	background: url(../images/back.gif) left center no-repeat;
}
#facetmorediv .column1 {
	clear: both;
	float: left;
	width: 200px;
	margin: 5px 5px 5px 10px;
	line-height: 14pt;
}
#facetmorediv .column2, #facetmorediv .column3, #facetmorediv .column4, #facetmorediv .column5 {
	float: left;
	width: 200px;
	margin: 5px;
	line-height: 14pt;
}
/* Override for Share Tool Alignment */
div.locshare-toolbar.right {
	text-align: left !important;
	margin-bottom: 10px !important;
}
/* Override for Share Tool Alignment */
#container #main_menu_fixed div.locshare-toolbar {
	text-align: left !important;
	margin: 0px 0px 5px 5px !important;
	padding: 0px !important;
}
/* HR for dividing holdings */
div.hr {
	width: 75%;
	background: #fff url(../images/dot.gif) repeat-x;
	height: 10px;
	margin: 10px 0px 0px 40px;
}
div.hr hr {
	display: none;
}
span.noholdings {
	padding: 3px;
	border:1px solid #ffd324;
	background-color:#fff6bf;
	color:#514721;
}
/* Back to top - LC Standard */
.backtotop {
clear: both;
text-align: right;
}
.backtotop a {
padding: 0 0 0 12px ;
background: transparent url(../images/loc_sprite_ss.png) -3px -285px no-repeat;
}
.backtotop a:hover,
.backtotop a:focus {
background-position: -3px -301px;
}
