
/** ----------------------------------------------------------------  */
/** ---------- MarkLogic APPLICATION CSS ---------------------------  */
/** ----------------------------------------------------------------  */

/* Page Layout */
/*body {margin:0;padding:0;background:#EDEDED none repeat-x scroll 0 0;font-family: Helvetica, Arial, Sans-serif;font-size:0.9em;} */
body a img {border:0;}
a:link, a:visited, a:active {color:#009; font-weight:normal; text-decoration:none;}
a:hover {text-decoration:underline;}
.header {background:transparent url(/static/natlibcat/images/banner-bleed.jpg) repeat scroll 0 0;}
.banner {background:transparent url(/static/natlibcat/images/logo.jpg) repeat scroll 0 0;height:92px;width:1000px;}
.header .title {color:white;top:35px;left:120px;position:absolute;}
.header .whoami {position:absolute;color:white;top:5px;left:725px;width:325px;text-align:right;}
.nav {margin:0px;background:#1A0198 none repeat-x scroll 0 0;height:1.5em;}
.nav li {list-style: none;list-style-position:outside;float:left;padding:2px;margin:2px;}
.header a {color:white;font-weight:bold;}
.header a:link, .header a:visited, .header a:active {color:white;text-decoration:none; }
.header a:hover {text-decoration:underline; }
.nav ul {padding:0px;margin:0px;}
.body {margin:0px 0px 5px 0px;border-top:2px solid #BBBBBB;border-bottom:2px solid #BBBBBB;padding:5px 5px 5px 5px;background:#FFFFFF;}
.footer{text-align:center;vertical-align:middle;clear:both;color:#777777;}
hr {color:#CCCCCC;background-color:#CCCCCC;border:1px solid #CCCCCC; }
.security-banner {width:300px;position:absolute;padding:0px 5px 2px 5px;color:white;font-size:1.5em; left:400px;text-align:center;}
.noresults {font-style: italic;color: graytext;}
#section-title {font-size:1.4em;margin-bottom:5px;height:1.5em;}
.fleft {float:left;}
.fright {float:right;}
.break {clear:both;}
.hidden {display:none;}
.small {font-size:0.75em}

/** COLUMN LAYOUT */
.two-column-container{width:1010px;};
.three-column-container{width:1300px;}
.three-column-container .left-column {margin-right:10px;width:250px;}
.three-column-container .bottom-section {width:920px;}
.three-column-container .center-column {margin-right:10px;width:410px;}
.three-column-container .right-column {width:500px;}
.two-column-container .left-column {margin-right:10px;width:250px;}
.two-column-container .right-column {width:710px;}

/** FACTET BOXES */
.facet-box a {color:#2277DD;font-weight:normal;cursor:pointer;}
.facet-box a:link, .facet-box a:visited, .facet-box a:active {color:#2277DD;font-weight:normal;text-decoration:none;}
.facet-box a:hover {text-decoration:underline;}
.facet-box .remove-facet a {color:red;font-weight:normal;cursor:pointer;}
.facet-box {width:248px;margin-bottom:10px;}
.facet-box li {list-style: none;list-style-position:outside;}
.facet-box ul {margin:0px;padding:0px;}
.facet-box .title {font-weight:bold;color:#4675AF;padding-left:5px;padding-right:5px;border:1px solid #DDDDDD;background:#F9F9F9 none repeat scroll 0 0;}
.facet-box .title .title-name {float:left;}
.facet-box .title .title-toggle {float:right;color:#4675AF;font-weight:bold;}
.facet-box .content {border-bottom:1px solid #DDDDDD;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;padding:5px;}
button.facet-submit {height:24px;};
div#button {height:24px;}
.facet-box .datepicker {width:100px;}

/** ENTITY ENRICHMENT */
span.entity {color:blue;}

/** DETAIL PAGE */
#fadein {display: none;}
#link-analysis-link, #kml-link {font-size:0.7em;}
pre {
	font-size:1em;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}



/** SEARCH RESULT */
#results ul {padding:0px;margin:0px;}
#results li {list-style: none;list-style-position:outside;}
#results .search-result {padding-left:5px;padding-right:5px;margin-bottom:2px;border:1px solid #DDDDDD;background:#F9F9F9 none repeat scroll 0 0;}
#results .search-result-odd {padding-left:5px;padding-right:5px;margin-bottom:2px;border:1px solid #DDDDDD;background:#DEE2F0 none repeat scroll 0 0;}
#results .title {width:100%;border-bottom:1px solid #DDDDDD;margin-bottom:2px;}
#results .title a { font-weight:bold;float:left;}
#results .title div.date {float:right;}
#results .snippet {padding-left: 10px;}
.highlt {background-color: yellow;}
#paging {margin-bottom:5px;}
a#paging {margin-right: 3px;padding:2px;background-color: blue;color:white;	}
a#paging-this{margin-right: 3px;padding:2px;background-color: black;color:white;	}

/** MSG BOX POPUP  */
#msgblock{position:absolute;top:0;left:0;width:100%;z-index:100;background:transparent url(/static/natlibcat/images/dim.png) repeat scroll 0 0;text-align:left;display:none;}
#msgbox{position:absolute;z-index:200;border:5px solid #222;background:#FFF;display:none;width:auto;height:auto;}
#msgcontainer{position:static;}
#msgcontent {margin:5px 40px 5px 5px;}
#msgcontainer a {color:#2277DD;font-weight:normal;cursor: pointer;}
#msgcontainer a:link, #msgcontainer a:visited, #msgcontainer a:active {color:#2277DD; font-weight:normal; text-decoration:none;}
#msgcontainer a:hover {text-decoration:underline;}
#msgcontainer .remove-facet a {color:red;font-weight:normal;cursor:pointer;}
#msgcontainer li {list-style: none;list-style-position:outside;}
#msgcontainer ul {margin:0px;padding:0px;}
a#msgclose {cursor: pointer;}

/** SEARCH SECTION */
.ui-widget input {width:250px;}
span#search-button {margin-left:10px;}
span#search-clear {margin-left:10px;}
span#search-clear a {color: red;}
#search-estimate {margin-top:10px;font-style:italic;color:graytext;}
.ui-button-text-only .ui-button-text {padding: 1px 3px;}

/** LINK ANALYSIS */
#viz {border:2px solid #777777;padding:2px;}
