h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #3A4F24;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.small-film {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.hometext-film {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.purple {
	color: #3D148F;
	font-weight: bold;
}
.purple-button {
	color: #3D148F;
	font-weight: bold;
	background-color: #E0E6DA;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #523C7D;
}
