/********************
Grid Layout - All Screens
********************/
#ds-container {
	border-top: solid 1px #eeeeee; 
	margin: 0px;
	padding: 0px;
}
#ds-header  {
	margin: 0px;
	padding: 0px;	
}
#ds-body {
	margin: 0px;
	padding: 0px;
	min-width: 760px; /* Minimum width of layout - remove line if not required */
	/* position: relative; ERICKSON */	/* This fixes the IE7 overflow hidden bug */
	/* clear: both; ERICKSON */
	/* float: left; ERICKSON */
	/* width: 100%; ERICKSON */		/* width of whole page */
	/* overflow: hidden; ERICKSON */	/* This chops off any overhanging divs */
}
#ds-colcontainer {
	clear: both;
	padding-left: 285px;
}
#ds-colcontainer .ds-column {
   position: relative; 
   float: left; 
}
#ds-search {
	margin: 0px;
	padding: 0px;
	height: 50px;
	width: 100%;
}
#ds-search #ds-quicksearch {
	margin: 0px 10px 0px 10px;
	padding: 3px 10px 0px 10px;
	height: 36px;
	background-color: #f8fae0;
	border: 1px solid #d3d8b2;
	border-top: 0px;
}
#ds-facetvalues {
	clear: both;
	margin: 0px 0px 5px 10px;
	padding: 0px 0px 5px 0px;
	background: #FFF;
	float: left;
}
#facetmorediv {
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0px 5px 0px;
	padding: 0px;
	background: #FFF;	
}
#dsresults #ds-bibrecord-nav, #facetmorediv #ds-bibrecord-nav {
	clear: both;
	height: 5px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 10px 10px;
	background: #FFF;
	width: 95%;
}
#dsresults #ds-bibrecord {
	margin: 0px 0px 0px 10px;
	padding: 0px;
	float: left;
	background: #FFFFFF;
	width: 65%;
}
#dsresults {
	/* clear: both; ERICKSON */
	margin: 5px 0px 0px 0px;
	padding: 0px;
	width: 100%;
}
#dsresults #content-feedback {
	margin: 0px 10px 10px 10px;
	padding: 0px;
	width: 760px;
}
/*#ds-body #dsresults #ds-leftcol {
	margin: 0px;
	padding: 0px;
	float: left;
	background: #FFFFFF;
	width: 265px;
}
#ds-body #dsresults #ds-leftcol #ds-facets {
	margin: 0px 5px 6px 10px;
	padding: 0px 0px 5px 0px;
	background: #FFFFFF;
	width: 248px;
} */
/* BEGIN CLAY EDIT */
#ds-container #ds-leftcol {
	/* position: absolute; ERICKSON */
	/* margin-top: 50px; ERICKSON */
	padding: 0px;
	/* float: left; */
	background: #FFFFFF;
	width: 285px;
	margin-left: -100%;
	left: 150px;
}
#ds-colcontainer > #ds-leftcol {
  left: -285px; 
  margin-left: expression(document.all.dsresults.offsetWidth * -1);  /* IE7 bug fix*/
} 
#ds-container #ds-leftcol #ds-facets {
	margin: 0px 5px 6px 10px;
	padding: 0px 0px 5px 0px;
	background: #FFFFFF;
	width: 285px;
}
#dsresults #ds-browseresults {
	clear: left;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	float: left;
	background: #FFFFFF;
	width: 65%;
}
#dsresults #ds-advsearch {
	margin: 10px 0px 10px 10px;
	width: 400px;
	border: dotted 1px #999999;
}
#dsresults #ds-advsearch #ds-formwrap {
	padding: 10px;
}
/* END CLAY EDIT */
#ds-mainright {
	margin: 0px; /* margin: 0px 0px 0px 280px; ERICKSON */
	background: #FFF;
	padding: 0px 10px 5px 10px;
}
#ds-controls {
	margin: 0px;
	padding: 0px;
	height: auto;
	background: transparent;
}
#ds-controls2 {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	height: auto;
	background: transparent;
}
#ds-controls .ds-count, #ds-controls2 .ds-count {
	margin: 0px;
	padding: 5px 10px 0px 0px;
	min-height: 20px;   /** changed to min-height for resizing */
	background: transparent;
	font: normal 9pt Verdana, Arial, Helvetica, sans-serif;
}
#ds-controls .ds-paging, #ds-controls2 .ds-paging {
	padding: 5px 10px 0px 10px;
	margin: 0px;
	min-height: 20px;   /** changed to min-height for resizing */
	background-color: #DDDDDD;
	text-align: center;
	font: normal 9pt Verdana, Arial, Helvetica, sans-serif;
}
/* #ds-mainright #ds-controls .ds-paging .left, #ds-mainright #ds-controls2 .ds-paging .left {
	margin: 0px;
	padding: 0px;
	float: left;
}
#ds-mainright #ds-controls .ds-paging .right, #ds-mainright #ds-controls2 .ds-paging .right {
	margin: 0px;
	padding: 0px;
	float: right;
} */
#ds-controls .ds-paging div.center, #ds-controls2 .ds-paging div.center {
	margin: 0px;
	padding: 0px;
	width: 100%;
    text-align: center; !important
}
#ds-controls .ds-views, #ds-controls2 .ds-views {
	clear: right;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	height: 25px;
	background-color: #F0F0F0;
}
#ds-controls .ds-views .left, #ds-controls2 .ds-views .left {
	margin: 0px;
	float: left;
}
#ds-controls .ds-views .right, #ds-controls2 .ds-views .right {
	margin: 0px;
	float: right;
}
#ds-mainright #ds-hitlist {
	margin: 10px 0px 0px 1px;
	padding: 0px 10px 5px 10px;
}
#ds-bibviews {
	width: 25%;
	background: #eeeeee;
	padding: 0px 10px 5px 10px;
	margin-right: 20px;
	float: right;
}
#ds-feedback {
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0px 5px 0px;
	padding: 0px;
	background: #FFF;
}
#ds-footer {
	clear: both;
	float: left;
	width: 100%;
	margin: 20px 0px 0px 0px;
	padding: 0px;
	background: #FFF;
}

