/* MAIN DIGITAL OBJECT CONTAINER */
#container { 
	width: 98%;  /* this will create a container 100% of the browser width */
	min-width: 1020px;
	background: #FFFFFF;
	margin: 0px 0px 0px 5px; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	padding: 0px;
}
#container h1 {
	font-size: 1.65em;
	color: #343268;
	font-family: Arial, Helvetica, sans-serif; 
	margin: 15px 10px 10px 10px;
	clear: both;
}
#container h1 span {
	color: #000;
	font-size: 70%;
	font-weight: 200;
}
#container h1 span a {
	color: #036;
}
#container h2 {
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif; 
	margin: 0 0 0.6em 0;
	color:#36C;
}
#container h3 {color:#333;}
#container h3 {font-size: 1.125em;margin: 0 0 0.4em 0;}
#container h4 {font-size: 1em;margin: 0 0 0.2em 0;color:#666;}
#container h2.hidden, h3.hidden {
	display: none;
}
/* SIDEBAR STYLES */
#sidebar {
	float: right; 
	width: 300px; /* since this element is floated, a width must be given */
	background: #FFFFFF; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0px; /* top and bottom padding create visual space within this div  */
	margin-right: 20px;
}
#sidebar p {
	margin-left: 5px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 5px;
	margin-bottom: 5px;
}
#sidebar #collection {
	width: 290px;
	margin: 0px 5px 10px 0px;
	padding: 5px;
    background-color: #FFFFEE;
    border: 1px solid #CCCCCC;
}
#sidebar #related {
	width: 290px;
	margin: 0px 5px 10px 0px;
	padding: 5px;
    background-color: #faf9f4;
    border: 1px solid #CCCCCC;
}
#sidebar #related #browse-subjects, #sidebar #related #browse-names, #sidebar #related #browse-class {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#sidebar #not-online {
	width: 290px;
	margin: 0px 5px 10px 0px;
	padding: 5px;
	border: 1px solid #ffb2b2;
	background-color:#fcf6f6;
}
#sidebar #duplication {
	width: 290px;
	margin: 0px 5px 10px 0px;
	padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #CCCCCC;
}
#sidebar #xml {
	width: 290px;
	margin: 0px 5px 10px 0px;
	padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #CCCCCC;
}
#sidebar #permalink {
	width: 290px;
	margin: 0px 5px 10px 0px;
	padding: 5px;
    background-color: #f4f4f4;
    border: 1px solid #CCCCCC;
}
#sidebar #feedback {
	width: 290px;
	margin: 0px 5px 10px 0px;
	padding: 5px;
    background-color: #FFFFFF;
    border: 1px dotted #CCCCCC;
}
#sidebar #related h3, #sidebar #collection h3, #sidebar #feedback h3, #sidebar #not-online h3, #sidebar #duplication h3 {
	margin: 0px;
	padding: 0px;
}
#sidebar #related ul, #sidebar #collection ul, #sidebar #feedback ul, #sidebar #not-online ul, #sidebar #duplication ul {
	margin: 0px 0px 5px 0px;
	padding: 0px;
}
/* MAIN LEFT CONTENT AREA STYLES */
#ds-maincontent {
	padding: 0px;
	margin: 0 340px 0 10px; /* the left margin's value is equal to the header and footer which creates alignment down the left side of the document. */
	min-width: 600px;
	max-width: 1000px;
} 
#ds-maincontent #ds-digitalport {
	padding: 0px;
	margin: 0px 0px 10px 0px; 
	border: 0px;
}
#ds-maincontent #ds-digitalport #viewport-on {
	border: solid 5px #666666;
	margin: 0px 315px 0px 0px;
	width: 99%;
	min-width: 600px;
	height: 300px;
	background-color: #333;
}
#ds-maincontent #ds-digitalport #viewport-off {
	width: 0px;
	height: 0px;
	border: 0px;
	min-width: 600px;
}
#ds-maincontent #ds-digitalport #audio-player {
	width: 0px;
	height: 0px;
	border: 0px;
	min-width: 600px;
}
#ds-maincontent #ds-digitalport #video-player {
	width: 0px;
	height: 0px;
	border: 0px;
	min-width: 600px;
}
/* MISCELLANEOUS CLASSES */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
/* LC SKIN STYLES FOR TABS */
/*********************   
Tab nav
*********************/
ul.tabnav {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 26px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
ul.tabnav li {
	float: left;
	margin: 0;
	padding: 0;
	height: 25px;
	line-height: 25px;
	border: 1px solid #ccc;
	margin-bottom: -1px;
	margin-right:4px;
	background: #eee url(http://www.loc.gov/images/tabs-bg.gif) left bottom repeat-x;
	position: relative;
}
ul.tabnav li.first {
	border-left: none;
}
ul.tabnav li a, ul.tabnav li a:visited {
	text-decoration: none;
	color: #666;
	display: block;
	padding: 0 15px;
	border: 1px none #fff;
	outline: none;
}
ul.tabnav li a:hover, ul.tabnav li a:focus {
	background: #fff;
	color: #666;
}
ul.tabnav li a:visited, ul.tabnav li a:active, ul.tabnav li a:hover { 
	text-decoration: none;
}
ul.tabnav li.active, ul.tabnav li.active a, ul.tabnav li.active a:hover, ul.tabnav li.active a:visited  {
	background: #fff;
	border-bottom: 1px solid #fff;
	color:#900;
	font-weight:bold;
	text-decoration:none;
}
.tab_container {
	border: 1px solid #ccc;
	border-top: none;
/*	clear: both;  */
	clear: left;
	padding:15px 10px 10px 10px;
	margin-bottom:1.25em;
}
.tab_container.noborder {
	border: none;
	padding:15px 0 0 0;
}
.tab_content {
	background-color:transparent;
}
/* BibRecord Overrides */
/* BIB RECORD DISPLAY STYLES */
#ds-maincontent .tab_content #ds-bibrecord img {
	float: right;
	width: 200px;
	margin: 10px 5px 5px 10px;
}
#ds-bibrecord-new dl.record, #tei-div dl {
	width: auto;
	height: auto;
	font: 105%/130%;
	text-align: left;
	margin: 10px 0px 10px 0px;
}
#ds-bibrecord-new dl.record dt.label {
	font-weight: bold;
	float: left;
	width: 175px;
	text-align: right;
	word-wrap: break-word;
	color: #008000;
}
#ds-bibrecord dl.record dt.label {
	font-weight: bold;
	float: left;
	width: 200;
	text-align: right;
	
	vertical-align:middle;
	color: #008000;
}
#tei-div dt {
	font: bold 110%;
	float: left;
	width: 25px;
	text-align: right;
	color: #990;
}
#ds-bibrecord-new dl.record dd.bibdata {
	font: normal;
	color: #000;
	margin-left: 185px;
}
#ds-bibrecord dl.record dd.bibdata {
	font: normal;
	color: #000;
	vertical-align:middle;
	margin-left: 210px;
}
#tei-div dd {
	font: normal;
	color: #000;
	margin-left: 35px;
}
.tab_container .tab_content .access-box {
	background-color: #EFF6FD;
    border: 1px solid #D4E9FF;
	padding: 10px;
	margin: 0px 0px 10px 0px;
}
/********************
Accordion
********************/
.expand_accord {
	margin: 0 7px 5px 7px;
	text-align:right;}
#accordion div.box {
	padding:7px;
	height:auto;
}
#accordion h3.head {
	background-color:#e6e4d7;
	padding: 3px 7px;
}
#accordion h3.head a {
	color:#666;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:.9em;
	padding-left: 13px;
	background: transparent url(http://www.loc.gov/images/arrow-accord.gif) left 3px no-repeat;
}
#accordion h3.ui-state-active a {
	background-position: left -10px;
}

/********************
Carousel
********************/
#carousel {
	margin-bottom:1.25em;
}
#carousel h2 {
	background:#323232 url(http://www.loc.gov/images/carous-bg-h2.png) left top repeat-x;
	margin-bottom:0;
	padding: 8px 10px;
	color:#dcdcdc;
	font-size:1.125em;
	position:relative;
	line-height:1em;
}
#carousel h2 span {
	right:10px;
	top:7px;
	position:absolute;
	background:transparent url(http://www.loc.gov/images/carous-btn-r.png) 100% 50% no-repeat;
	font-size:10px;
	line-height:10px;
	overflow:hidden;
	padding-right:7px;
}
*html #carousel h2 span {
	top:8px;
}
#carousel h2 span em {
	background:transparent url(http://www.loc.gov/images/carous-btn-l.png) 0 50% no-repeat;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	display:block;
	padding: 3px 0px 4px 7px;
	overflow:hidden;
}
#carousel h2 span a, #carousel h2 span a:visited {
	color:#bbb;
	text-decoration:none;
	padding: 10px 0;
	padding:0;
}
#carousel h2 span a:hover, #carousel h2 span a:focus {
	color:#fff;
}
#carousel .intro {
	background-color:#000;
	color:#bbb;
	margin:0;
	border-top:1px solid #373737;
	padding: 8px 10px 0 10px;
	font-size:.9em;
}
.carousel-body {
	background-color:#000;
	padding:0;
	margin:0;
}
/**
 * This <div> element is wrapped by jCarousel around the list
 * and has the classname "jcarousel-container".
 */
.jcarousel-container {
    position: relative;
}
.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.jcarousel-list li,
.jcarousel-item {
    float: left;
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
    width: 75px;
    height: 75px;
}

/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */
.jcarousel-next {
    z-index: 3;
    display: none;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
}
.jcarousel-skin-tango .jcarousel-container {
-moz-border-radius: 10px;
background: #F0F6F9;
border: 1px solid #346F97;
background: none;/*ki fix */
border: none;/*ki fix */
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
/*width: 245px;*/
padding: 18px 35px 20px 35px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
width:  245px;
height: 75px;
height: 150px;/*ki fix */
}
/*ki fix */
.jcarousel-skin-tango .jcarousel-container-horizontal {
width: 85%;
width: 830px;
/* width: 455px;
width: 461px; */
}
/*ki fix */
.jcarousel-skin-tango .jcarousel-clip-horizontal {
width: 100%;
height: auto;/*ki fix */
}
.jcarousel-skin-tango .jcarousel-item {
width: 75px;
height: 75px;
height: auto;/*ki fix */
text-align:center;/*ki fix */
font-size:.95em;/*ki fix 
line-height:1.125em;*/
overflow:hidden;
}
/*ki fix */
.jcarousel-skin-tango .jcarousel-item a {text-decoration:none; color:#999;}
.jcarousel-skin-tango .jcarousel-item a span,
.jcarousel-skin-tango .jcarousel-item a:active span,
.jcarousel-skin-tango .jcarousel-item a:visited span {text-decoration:none;padding:3px 16px;display:block;text-align:left;background:none;}
.jcarousel-skin-tango .jcarousel-item a:hover span, .jcarousel-skin-tango .jcarousel-item a:focus span {text-decoration:none;color:#fff;}

.jcarousel-skin-tango .jcarousel-item a img,
.jcarousel-skin-tango .jcarousel-item a:active img,
.jcarousel-skin-tango .jcarousel-item a:visited img {border:1px solid #000;}
.jcarousel-skin-tango .jcarousel-item a:hover img, .jcarousel-skin-tango .jcarousel-item a:focus img {border:1px solid #999;background:#333;}

.jcarousel-skin-tango .jcarousel-item-horizontal {
margin-right: 10px;
margin-right: 1px;/*ki fix */
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
background: #fff;
color: #000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
position: absolute;
top: 85px;
right: 8px;
width: 13px;
height: 53px;
cursor: pointer;
background: transparent url(http://www.loc.gov/images/next-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
background-position: -13px 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
background-position: -26px 0;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
cursor: default;
background-position: -39px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
position: absolute;
top: 85px;
left: 11px;
width: 13px;
height: 53px;
cursor: pointer;
background: transparent url(http://www.loc.gov/images/prev-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
background-position: -13px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
background-position: -26px 0;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
cursor: default;
background-position: -39px 0;
}
div#collection_image { 
/* margins adjusted by EFM */ 
	float: right;
	width: 225px;
	margin: 8px 0px 4px 8px;
}
div#collection_image div { 
/* alignment, padding and font size adjust by EFM */
	text-align: left;
	padding: 4px 0px 0px 0px;
	margin: 0px 12px 0px 4px;
	font: normal 80%/140% Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
span.letter {
	margin: 8px 0px 8px 0px;
	font: bold 14pt Georgia, "Times New Roman", Times, serif;
	color: #990000;
	padding: 0px;
}
div.alpha p.term { 
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
div.alpha p.term span.orth { 
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
}
div.alpha p.term span.romanization { 
	font: italic 8pt Verdana, Arial, Helvetica, sans-serif;
	margin-left: 10px;
}
div.alpha p.term span.definition { 
	font: normal 8pt Verdana, Arial, Helvetica, sans-serif;
	margin-left: 10px;
}
div.searchnav {
    background-color: #EFF6FD;
    border-color: #D4E9FF;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1em;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
	width: 400px;
}
div.txt-yoursearch { 
	color: #900;
	margin: 10px 0px 10px 0px;
}
#snippets h2 {
	font: bold 100% Verdana, Arial, Helvetica, sans-serif;
	color: #36C;
	margin: 20px 0px 0px 0px;
	padding: 0px;
}
#snippets h2 a {
	text-decoration: none;
	color: #36C;
}
#snippets ul.std {
	margin: 10px 0px 0px 0px;
}
#snippets ul.std li {
	margin: 10px 0px 0px 0px;
}
#snippets ul.std li a {
	text-decoration: none;
	color: #333;
}
#snippets ul.std li a:hover {
	text-decoration: underline;
	color: #000033;
}
#snippets ul.std li a span.highlight {
	text-decoration: none;
	color: #333;
}
#snippets ul.std li a:hover span.highlight {
	text-decoration: underline;
	color: #000033;
}
a.info:link, a.info:visited, a.info:active {
    position: relative;  
    z-index: 24;
    color: #000;
    text-decoration: none;  
/*   background-color: #ffffcc;   
     padding: 2px; */
}
a.info:hover {
     z-index: 25;  
     text-decoration: none; 
     color: #430c01;
}
a.info span.term-highlight {
     background-color: #dddddd;
     margin: 0px;
     padding: 0px;
     text-decoration: none; 
}
a.info span.def-box {
     display: none;
}
/* the div will display just on :hover state */
a.info:hover span.def-box { 
    display: block;
    position: absolute;
    top: 15px; 
     left: 10px; 
     width: 250px;
     background-color: #fffff3;
     border: 1px solid #fab14a;
     color: #430c01;
/*  text-align: left;  */
     padding: 5px 3px 5px 4px;
     text-decoration: none;
}
a.info:hover span.def-box span.pron {
     color: #993300;
}
a.info:hover span.def-box span.pron strong {
     color: #666666; 
     margin-right: 5px;
}
