div.navigation a {
    text-decoration: none;
    color: white;
}
div.navigation a:active, div.navigation a:hover {
    text-decoration: underline;
    color: #3366CC;
}
div.navigation {
/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.thumbs li {
    float: left;
    padding: 0;
    margin: 5px 10px 5px 0;
    list-style: none;
    display: none;
}
a.thumb {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
}
div#thumbs_search a.thumb {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
}
div#thumbs_search a.thumb p {
    vertical-align: middle;
}
ul.thumbs li.selected a.thumb {
    background: #000;
}
div#thumbs_search ul.thumbs li.selected a.thumb {
    background: #AFAFAF;
}
a.thumb:focus {
    outline: none;
}
ul.thumbs img {
    border: none;
    display: block;
    max-height: 100px;
    max-width: 100px;
    margin: auto auto;
    width: auto;
    height: auto;
    vertical-align: middle;
}
div.pagination {
    clear: both;
}
div.navigation div.top {
    margin-bottom: 12px;
    height: 11px;
}
div.navigation div.bottom {
    margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.off, div.pagination span.ellipsis {
    display: block;
    float: left;
    margin-right: 2px;
    padding: 4px 7px 2px 7px;
    border-right: 1px solid #FFFFFF;
}
div.pagination span.current {
    font-weight: bold;
    border-right: 1px solid #FFFFFF;
    color: #000000;
}
div.pagination span.off {
    font-weight: bold;
    color: #888888;
    border-right: 1px solid #FFFFFF;
}
div.pagination span.ellipsis {
    border-right: 1px solid #FFFFFF;
/* padding: 5px 0 3px 2px; */
    color: white;
}
div#thumbs_search div.pagination a, 
div#thumbs_search div.pagination span.current,
div#thumbs_search div.pagination span.off,
div#thumbs_search div.pagination span.ellipsis {
    display: block;
    float: left;
    margin-right: 2px;
    padding: 4px 7px 2px 7px;
    border-right: 1px solid #000000;
}
div#thumbs_search div.pagination span.current {
    font-weight: bold;
    border-right: 1px solid #000000;
    color: #000000;
}
div#thumbs_search div.pagination span.off {
    font-weight: bold;
    color: #888888;
    border-right: 1px solid #000000;
}
div#thumbs_search div.pagination span.ellipsis {
    border-right: 1px solid #000000;
/* padding: 5px 0 3px 2px; */
    color: black;
}
/* Other Seadragon CSS, for now */
div.caption {
    height: 100%;
    width: 200px;
    text-align: right;
    color: white;
    border: 1px solid black;
    /*opacity: 0.4;
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4;*/
    filter:alpha(opacity=60);
    opacity: 0.6;
    background: black;
}
div.page_control {
    padding: 5px;
    background: #AFAFAF;
/* color: white; */
}
/*
    div.page_control a {
  text-decoration:underline;
  color: white;
  }
 */
span.arrow_off {
    color: #DDDDDD;
}
a.arrow_on {
    color: #FFFFFF;
}
.overlay {
    border: 1px solid red;
    /*opacity: 0.4;
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4;*/
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: red;
}

/* Infinite scroll CSS */

ul.scrolls {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.scrolls li {
    float: left;
    padding: 0;
    margin: 5px 10px 5px 0;
    list-style: none;
    /*display: none;*/
}
a.scroll {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
}
ul.scrolls img {
    border: none;
    display: block;
    max-height: 100px;
    max-width: 100px;
    margin: auto auto;
    width: auto;
    height: auto;
    vertical-align: middle;
}
div#scrolls_search a.scroll {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
}
div#scrolls_search a.scroll p {
    vertical-align: middle;
}
div#scrolls_search {
    width: 100%; 
    float: left;
}