/* 
#(c)#=====================================================================
#(c)#
#(c)#       Copyright 2007-2009 Ex Libris (USA) Inc.
#(c)#                       All Rights Reserved
#(c)#
#(c)#=====================================================================

**          Product : WebVoyage :: print full record css
**          Version : 7.2.0
**          Created : 01-NOV-2007
**      Orig Author : Scott Morgan
**    Last Modified : 19-AUG-2009
** Last Modified By : Mel Pemble
** Modifed by LC    : Betsy Miller (02-NOV-2010)
*/
#ds-bibrecord h1#title-top {
	clear: left;
	font: bold 14pt Georgia, "Times New Roman", Times, serif;
	color: #36c;
	margin: 10px 0px 0px 0px;
	padding: 10px 0px 5px 0px;
	background: transparent url(../images/dot.gif) top left repeat-x;
}
/* record displays */
dl.record {
	width: auto;
	height: auto;
	font: 10pt/15pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 0px;
	padding-top: 15px;
}
dl.record dt {
	font-weight: bold;
	float: left;
	color: #333;
	margin: 0px 0px 0px 0px;
}
dl.record dd.holdingsDef {
	margin: 0px 0px 0px 0px;	
}
dl.record dd.bibdata, dl.record dd.bibdata-name, dl.record dd.bibdata-title, dl.record dd.bibdata-subject {
	font: normal;
	color: #000;
	margin: 0px 0px 0px 175px;
}
dl.print-default, dl.print-marctags {
	width: auto;
	height: auto;
	font: 10pt/15pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	margin-top: 20px;
	padding: 3px;
	background-color: #ffffdd;
}
dl.print-default dt, dl.print-marctags dt {
	font-weight: bold;
	float: left;
	color: #333;
	margin: 0px 0px 0px 0px;
}
dl.print-default dd, dl.print-marctags dd {
	font: normal;
	color: #000;
	margin: 0px 0px 0px 175px;
}

/********************
   Librarian view
********************/
#marc-view {
  padding: 10px;
/* border: 1px solid #CCCCCC; */
  text-align: left;
  font: 9pt/14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#marc-view .field {
  clear: both;
  padding-top: 5px;
/*  border-bottom: 1px solid #CCCCCC; */
}
#marc-view .field .tag_ind .tag {
	font-weight: bold;
}
#marc-view .control_field_values {
	font-weight: normal;
	margin-left: 22px;
}
#marc-view .field .tag_ind .ind1 {
  padding: 0px;
  margin-left: 5px;
  width: 10px;
  display: inline;
  font-weight: bold;
}
#marc-view .field .tag_ind .ind2 {
  padding: 0px;
  margin-left: 5px;
  width: 10px;
  display: inline;
  font-weight: bold;
}
#marc-view .tag_ind {
  float: left;
  font-weight: normal;
}
#marc-view .field .subfields {
  padding-left: 5em;
  font-weight: normal;
}
#marc-view .field .subfields .sub_code {
  font-weight: bold;
}
div#printFooter {
	margin-top: 20px;
	padding-top: 10px;
	background: transparent url(../images/dot.gif) top left repeat-x;
	font: 8pt/14pt Verdana, Geneva, Arial, Helvetica, sans-serif;	
}